@font-face {
    font-family: 'prelo_slabmedium';
    src: url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/preloslab-medium-webfont.woff2') format('woff2'),
         url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/preloslab-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'prelo_slabblack_italic';
    src: url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/preloslab-black_italic-webfont.woff2') format('woff2'),
         url(https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/preloslab-black_italic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'prelobook';
    src: url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/Prelo-Book-webfont.woff2') format('woff2'),
         url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/Prelo-Book-webfont.woff') format('woff');
}
@font-face {
    font-family: 'prelobold';
    src: url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/Prelo-Bold-webfont.woff2') format('woff2'),
         url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/Prelo-Bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'preloblack';
    src: url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/Prelo-Black-webfont.woff2') format('woff2'),
         url('https://nuevasnarrativasec.github.io/no-te-pases-campana/fonts/Prelo-Black-webfont.woff') format('woff');
}

.clear{
    clear: both;
}

#header{
    margin-bottom: 50px;
    width: 100%;
}
    .header-comercio{   
        background: #000;    
        position: relative;
        width: 100%;
        z-index: 9999999;
    }
        .ctn-header-comercio{
            margin: 0 auto;     
            max-width: 1024px;
            padding: 0 5px;
            text-align: right;
        }
            .ctn-header-comercio a{
                display: inline-block;                
                text-indent: -9999px;
            }
                a.logo-comercio{
                    background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales-multimedia/somos-35-anos-mejores-portadas-ecpm/img/logo-comercio.png?v2) no-repeat 0 0;
                    background-size: 100%;
                    display: none;
                    height: 30px;
                    margin-top: 10px;
                    width: 110px;
                }
                #social{
                        float: right;
                        margin: 20px;
                        position: absolute;
                        right: 0;
                        z-index: 600;
                }
                #social ul{
                    display: inline-block;
                    margin: 0 auto;
                    padding: 0;
                    vertical-align: middle;
                }
                    #social ul li{
                        display: inline-block;
                        margin: 0 3px;
                        vertical-align: middle;
                    }
                        #social ul li a{
                            height: 36px;
                            width: 36px;
                        }
                        #fb{
                            background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales-multimedia/personas-desaparecidas/img/fb-icon.png?v2) no-repeat 0 0;
                            background-size: 100% !important;
                            border: none;
                            display: inline-block;
                            height: 36px;
                            text-indent: -9999px;
                            width: 36px;
                        }
                        #wst{                
                            background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales-multimedia/personas-desaparecidas/img/wsp-icon.png?v2) no-repeat 0 0 !important;
                            background-size: 100% !important;
                            border: none;
                            display: none;
                            height: 36px;
                            text-indent: -9999px;
                            width: 36px;
                        }
                        #tw{            
                            background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales-multimedia/personas-desaparecidas/img/tw-icon.png?v2) no-repeat 0 0 !important;
                            background-size: 100% !important;
                            border: none;
                            display: inline-block;
                            height: 36px;
                            text-indent: -9999px;
                            width: 36px;
                        } 

body, html {    
    margin: 0;    
    padding: 0;    
    font-style: normal;
    font-display: swap;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-header{
    background: url('https://nuevasnarrativasec.github.io/no-te-pases-campana/img/bg-portada-2.jpg') no-repeat center top;
    background-size: cover;
    height: 95vh;
    position: relative;
    width: 100%;
}
    .ctn-header{
        left: 50%;
        position: absolute;
        top: 40%;        
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
        .logo-comercio{
            display: block;
            margin: 0 auto;
            max-width: 130px;
        }
        .ctn-logo-campana{
            width: 100%;
        }
            .ctn-logo-campana img{
                display: inline-block;
                margin: 0 10px;
                max-width: 190px;
                vertical-align: top;
            }
            .box-titulo{
                display: inline-block;
                max-width: 320px;
                text-align: left;
                vertical-align: top;
            }
                .box-titulo h1{
                    color: #fff;
                    display: inline-block;
                    font: 3rem/1 'prelo_slabblack_italic';
                    margin: 15px 0;
                    text-transform: uppercase;
                    text-shadow: 0px 0px 9px #000000;
                    vertical-align: top;
                }
                .box-titulo h2{
                    color: #fff;
                    font: 1.1rem/1.3 'prelobold';
                    margin: 0 auto;
                    text-shadow: 0px 0px 22px #000000;
                }
            .box-auspicio{
                text-align: left;
            }
                .box-auspicio p{
                    color: #fff;
                    display: inline-block;
                    font: 0.8rem/1 'prelobold';
                    padding-bottom: 20px;
                    text-transform: uppercase;
                    vertical-align: bottom;
                }
                .box-auspicio img{
                    display: inline-block;
                    max-width: 85px;
                    vertical-align: top;
                }
.box-denuncia{
    border: 8px solid #AF0F23;
    box-sizing: border-box;
    margin: 60px auto 40px;
    max-width: 320px;
    padding: 15px 20px;
    text-align: center;
}
    .box-denuncia a img{
        text-decoration: none;
    }
    .box-denuncia img{
        display: inline-block;
        max-width: 40px;
        vertical-align: top;        
    }
    .box-denuncia p{
        color: #AF0F23;
        font: 1.1rem/1 'prelobold';
        margin: 0 auto;
        text-transform: uppercase;
    }
    .box-denuncia h3{
        color: #AF0F23;
        display: inline-block;        
        font: 2.5rem/1.1 'preloblack';
        margin: 0 auto;
        vertical-align: bottom;
    }
        .box-denuncia h3 a{
            color: #AF0F23;
            text-decoration: none;
        }
p.intro{
    font: 1rem/1.5 'prelobook';
    margin: 0 auto 80px;
    max-width: 330px;
}
    p.intro b{
        font-family: 'prelobold';
    }
.box-abridor{
    margin: 0 auto 40px;
    text-align: center;
}
    .box-iframe{
        display: inline-block;
        max-width: 330px;
        vertical-align: top;
    }
    .box-abridor img{
        display: inline-block;
        margin-left: -80px;      
        max-width: 230px;
        vertical-align: bottom;        
    }
    .info-box-abridor{
        display: inline-block;
        margin-left: -50px;
        max-width: 350px;
        padding-bottom: 100px;
        text-align: left;
        vertical-align: bottom;
    }
        .info-box-abridor h3{
            font: 2.5rem/1 'prelo_slabblack_italic';
            margin: 0 auto 10px;
        }
        .info-box-abridor p{
            font: 1.1rem/1.3 'prelobook';
            margin: 0 auto 5px;
        }
            .info-box-abridor p a{
                background-color: #AF0F23;
                color: #fff;
                font-family: 'prelobold';
                padding: 0 5px;
                text-decoration: none;
            }
            .info-box-abridor p span{
                font-family: 'prelobold';
            }
img.linea-movil{
    display: none;
}
.box-notas{
    margin: 30px auto;
    max-width: 880px;
    text-align: center;
}
    .box-notas h3,
    .box-reels h3{
        color: #A79142;
        font: 1rem/1.1 'preloblack';
        padding: 0 20px;
        text-align: left;
        text-transform: uppercase;
    }
    .nota{
        display: inline-block;
        margin: 0 15px 20px;
        max-width: 260px;
        vertical-align: top;
    }
        .nota img{

        }
        .nota h4{
            font: 1rem/1.3 'prelo_slabmedium';
            margin: 5px auto;     
            text-align: left;       
        }
            .nota h4 a{
                color: #000;
                text-decoration: none;
            }
                .nota h4 a:hover{
                    text-decoration: underline;
                }
.box-reels{

    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
    margin: 90px auto;
    max-width: 1200px;
    padding: 50px 0;
    text-align: center;
}
    .box-reels .box-iframe{
        max-width: 285px;
    }
    .box-reels iframe{
        min-width: 100% !important;
        width: 100% !important;        
    }

@media only screen and (max-width: 640px) {

    #wst{
        display: inline-block;
    }

    body .main-header{
        background: url(https://nuevasnarrativasec.github.io/no-te-pases-campana/img/bg-portada-movil.jpg) no-repeat center top;
        background-position: inherit;
        background-size: cover;
        height: 100vh;
    }
        .ctn-header{
            top: 43%;
            width: 90%;
        }
            .logo-comercio{
                margin: 0 auto 20px;
            }
            .ctn-logo-campana{
                text-align: center;
            }
            .ctn-logo-campana img{
                display: block;
                margin: 5px auto;
                max-width: 160px;
            }
            .ctn-logo-campana h1{
                display: block;
                margin: 10px auto;
            }
    .box-denuncia{
        margin: 40px auto;
    }
    .box-abridor iframe{
        max-width: 90%;
    }
    .box-abridor img{
        display: none;
    }
    .info-box-abridor{
        margin: 30px auto;
        max-width: 90%;
        padding-bottom: 0;        
    }
    img.linea{
        display: none;
    }
    img.linea-movil{
        display: block;
    }
    .nota{
        max-width: 90%;
    }
    .box-auspicio{
        text-align: center;
    }
        .box-auspicio img{
            display: inline-block;            
            max-width: 85px;
            vertical-align: top;
        }

}

@media only screen and (max-height: 732px) {
   
    .main-header {
        height: 100vh;
        background-position-y: -80px;
    }

}